.disaster {
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #dddedf;
  color: rgb(50, 50, 50);
}

.disaster__list {
  list-style-type: none;
  padding: 0;
}

.disaster__item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px 20px 64px 0;
}

.disaster__img {
  width: 250px;
  height: 250px;
  border-radius: 200px;
}

.disaster__img:hover {
  border: 5px solid #93ad5e;
  transition: 1s ease-out;
}

.disaster__title {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
}

.disaster__title:hover {
  opacity: 100%;
  color: #bfe17c;
  text-shadow: 0 0 15px black;
}

.disaster__text {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  max-width: 200px;
  box-sizing: border-box;
}

@media screen and (max-width: 627px) {
  .disaster {
    max-width: 400px;
  }

  .disaster__list {
    padding: 0 10px 10px;
    margin: 0;
  }

  .disaster__item {
    margin: 0 10px 20px;
  }

  .disaster__img {
    width: 75px;
    height: 75px;
  }

  .disaster__title {
    font-size: 20px;
  }
}
