.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  background-color: #787878;
  box-sizing: border-box;
  padding: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
}
