.glossary-page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  min-width: 320px;
  background-color: #84a149;
}

.sidebar__nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar__nav-item {
  padding: 10px;
  border-top: 1px solid #526923;
  border-bottom: 1px solid #526923;
}

.sidebar__link {
  text-decoration: none;
}

.sidebar__link:visited {
  color: #e9e9e9;
}

.region-content {
  background-color: #e9e9e9;
  padding: 20px;
}

.content-header {
  border-bottom: 1px solid #969696;
}

.header__title {
  margin: 0;
}

.definitions {
  padding: 25px 0 0;
}

.definitions__term {
  font-weight: bold;
  margin: 20px 0 10px;
}

.definitions__description {
}
